{% extends 'layouts/base.html.twig' %}

{% block title 'Learners | ' ~ parent() %}

{% block body %}
    <h1>Learner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for learner in learners %}
            <tr>
                <td>{{ learner.id }}</td>
                <td>{{ learner.firstName }}</td>
                <td>{{ learner.lastName }}</td>
                <td>{{ learner.gender ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('learner_show', {'id': learner.id}) }}">show</a>
                    <a href="{{ path('learner_edit', {'id': learner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('learner_new') }}">Create new</a>
{% endblock %}
